.navbar {
    border-radius: 10px;
    margin-top: 1%;
}

#nav-shadow {
    box-shadow: 0 1rem 0.9rem rgb(0 0 0 / 20%);
}

#docs-link {
    color: transparent;
}

#main-splash {
    margin: 10% 0%;
    text-align: center;
}

#my-picture {
    border-radius: 50%;
    width: 17%;
    height: 17%;
    box-shadow: 0 1rem 0.9rem rgb(0 0 0 / 20%);
    margin-bottom: 2%;
}

/* Nicknames */
#nicknames {
    margin-bottom: 10%;
}

.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -3vw;
    margin-top: 17px;
}

.marquee-content {
    display: inline-block;
    margin-top: 5px;
    animation: marquee 40s linear infinite;
}

.item-collection-1 {
    position: relative;
    left: 0%;
    animation: swap 40s linear infinite;
}

@keyframes swap {
    0%, 50% {
        left: 0%;
    }

    50.01%,
    100% {
        left: 100%;
    }
}

.marquee-content:hover {
    animation-play-state: paused
}

.item1 {
    display: inline-block;
    height: 70px;
    width: 140px;
    background: cyan;
    vertical-align: top;
    margin-left: 15px;
}

.item2 {
    display: inline-block;
    height: 70px;
    width: 100px;
    background: magenta;
    vertical-align: top;
    margin-left: 15px;
    line-height: 14px;
}

/* Transition for scrolling*/

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

/* Cards */
.card {
    margin: 0 auto;
}

.card-header {
    background-color: rgb(83, 172, 255) !important;
    color: white;
}

/* .list-group-item {
    background-color: rgb(9, 67, 255) !important;
    color: white !important;
} */

.card-shadow {
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2) !important;
    margin-bottom: 11%;
}

#about {
    margin: 10% 0%;
    text-align: center;
}

#about>.col>h2 {
    margin-bottom: 3%;
}

#contact {
    margin: 10% 7%;
}

#contact>.col {
    text-align: center;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

#linkedin-logo {
    width: 15%;
    margin: 6% 0%;
}

#h5-text {
    margin-top: 1.75%;
}

#counter-wrapper {
    text-align: center;
}

#counter {
    text-align: center;
}