.navbar {
    border-radius: 10px;
    margin-top: 1%;
}

#nav-shadow {
    box-shadow: 0 1rem 0.9rem rgb(0 0 0 / 20%);
}

#docs-link {
    color: transparent;
}

#main-splash {
    margin: 10% 0%;
    text-align: center;
}

#my-picture {
    border-radius: 50%;
    width: 17%;
    height: 17%;
    box-shadow: 0 1rem 0.9rem rgb(0 0 0 / 20%);
    margin-bottom: 2%;
}

.card {
    margin: 0 auto;
}

.card-header {
    background-color: rgb(83, 172, 255) !important;
    color: white;
}

/* .list-group-item {
    background-color: rgb(9, 67, 255) !important;
    color: white !important;
} */

.card-shadow {
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2) !important;
    margin-bottom: 11%;
}

#about {
    margin: 10% 0%;
    text-align: center;
}

#contact {
    margin: 10% 7%;
}

#contact>.col {
    text-align: center;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

#linkedin-logo {
    width: 15%;
    margin: 6% 0%;
}

#h5-text {
    margin-top: 1.75%;
}